# dependencies
/node_modules/

# production
/lib/
bundle.js

# testing
/coverage/
/.tmp/mocha-webpack/
/test/a.test.js
webpack.config-test.js
test.js
mochatest.html
chai.js
coverage.html

#misc
npm-debug.log
